<!DOCTYPE html>
<html>
  <head>
    <title>Prediction-Digit Recognition</title>
    <style media="screen">
      .boxed{
        background-color: #1F2833;
        background-repeat: no-repeat;
        height: 25%;
        width: 120%;
        position: fixed;
        top: 0px;
        font-size: 50px;
        font-family:inherit;
        color: #66FCF1;
      }
</style>
  </head>
  <body style="background-color:#1F2833">
    <div class="boxed">
    <h1 style="position:fixed; left: 120px;">Handwritten Digit Recognition</h1>
    </div>


    <img style="position: fixed;height:330px;width:25%;top:220px;left:550px;" src= "{{ img }}">

    <p style="position: fixed;color: #66FCF1;font-size: 32px; top: 540px; left:650px;">Prediction: {{prediction}}</p>

    <p style="position: fixed;bottom: 0;left: 5px; bottom: 14px;font-size: 14px;color:white;"><a style="color:white;" href="/">Predict Again</a></p>

      <p style="position: fixed;bottom: 0;left: 610px;font-size: 14px;color:white;">Created by Karan Malik,Copyright &copy; 2020 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Project Github: <a style="color:white;" target="_blank" href="https://github.com/Karan-Malik">Click here</a> </p>


  </body>
</html>
